<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="SessionEntity" type="org.java.mentorship.user.domain.SessionEntity"/>
        <typeAlias alias="UserEntity" type="org.java.mentorship.user.domain.UserEntity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mappers/session.xml"/>
        <mapper resource="mybatis/mappers/user.xml"/>
    </mappers>
</configuration>